@import "../libs/vars";
@import "../libs/functions";
@import "../libs/mixins";
@import "../libs/skel";

@include skel-breakpoints((
  xlarge: '(max-width: 1800px)',
  large: '(max-width: 1280px)',
  medium: '(max-width: 980px)',
  small: '(max-width: 736px)',
  xsmall: '(max-width: 480px)'
));




$size-header-width: 35%;
$size-header-pad: 4em;
/* Basic */

#jsHome {
 background: _palette(accent3, bg);
}

.blue{
  background: _palette(accent3, bg);
  color: _palette(accent3, fg);
  a {
    color: _palette(accent3, border);
  }
  h1, h2, h3, h4, h5, h6 {
    color: _palette(accent3, fg-bold);
  }
  code {
    background: _palette(accent3, fg);
    color: _palette(accent3, fg-bold);
    border: solid 2px _palette(accent3, border);
  }
  strong, b {
    color: _palette(accent3, border2);
  }
}

.blue-light{
  background: _palette(accent3,fg);
  color: _palette(accent3, bg);
  a {
    color: _palette(accent3, border);
  }
  h1, h2, h3, h4, h5, h6 {
    color: _palette(accent3, fg-bold);
  }
}

  .black {
    background: _palette(accent4, bg);
    color: _palette(accent4, fg-light);
    a {
      color: _palette(accent4, border2);
    }
    h1, h2, h3, h4, h5, h6 {
      color: _palette(accent4, fg-bold);
    }
    code {
      background: _palette(accent4, fg);
      color: _palette(accent4, fg-bold);
      border: solid 2px _palette(accent4, border);
    }
    strong, b {
      color: _palette(accent4, border2);;
    }
  }

  .black-light {
    background: _palette(accent4, fg);
    color: _palette(accent4, fg-bold);
    a {
      color: _palette(accent4, border);
    }
    h1, h2, h3, h4, h5, h6 {
      color: _palette(accent4, fg-light);
    }
  }
  


